<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragmentos/fragmentos :: headLogin"></head>
<body>
  <div th:replace="Fragmentos/fragmentos :: header"></div>
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Inicia sesión</h2>
    <form id="formLogin" th:action="@{/auth/login}" method="post">
        <div th:replace="Fragmentos/fragmentos :: alertas"></div>
        <label for="correo">Correo:</label>
        <input type="email" id="correoLogin" name="email" required><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="passwordLogin" name="password" required><br>

        <button class="btn-submit" type="submit" >Continuar</button>
        
    </form>
    <a class="btnModal" th:href="@{/registro}">¿No tienes cuenta? Regístrate</button>
  </div>

</body>
</html>